$color-primary-green: #014e56;
$color-primary-pink: #f67e7e;
$color-primary-white: #fff;

$color-secondary-light-blue: #79c8c7;
$color-secondary-green-blue: #2c6269;
$color-secondary-dark-green: #004047;
$color-secondary-dark-blue: #012f34;
$color-secondary-black: #002529;
