@use "../abstracts/" as a;

.footer {
  &__left {
    display: flex;
    gap: 125px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    gap: 40px;
  }

  &__box {
    height: 100px;
    @include a.respond(tab-land) {
      text-align: center;
    }
  }

  &__social {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_img {
      &:hover {
        fill: a.$color-primary-pink;
      }
    }

    &-box {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
    }
  }
}
